:root {
	--color-a-1: rgba(20,20,30,1);
	--color-a-2: rgba(30,30,40,1);
	--color-a-3: rgba(40,40,50,1);
	--color-a-4: rgba(50,50,60,1);
	--color-a-5: rgba(70,70,80,1);
	--color-a-6: rgba(90,90,100,1);

	--color-b-1: rgba(240,240,255,1);
	--color-b-2: rgba(210,210,225,1);

	--color-c-1: #ecdcff;
	--color-c-2: #d5baff;
	--color-c-3: #5e00c1;
	--color-c-4: #42008a;

	--brain-path: path(
		'M 120 45 C 147 42 159 42 192 48 Q 225 54 261 84 C 282 105 300 126 300 165 C 300 189 285 201 270 207 C 243 210 255 207 240 210 C 237 234 189 243 165 240 C 138 246 129 264 99 291 C 96 297 87 294 90 288 C 105 267 102 261 99 261 C 75 264 18 246 18 213 C 18 201 21 195 24 195 C 3 183 -6 147 12 117 Q 24 90 51 66 C 84 45 99 48 120 45'
		);
	
	--apple-path: path(
		'M 135 3 C 135 3 141 0 144 3 Q 141 21 156 45 C 180 45 180 30 210 30 C 270 30 285 105 285 135 C 285 180 267 210 246 255 C 237 270 219 300 195 300 C 165 300 165 285 150 285 C 135 285 135 300 105 300 C 81 300 63 270 54 255 C 33 210 15 180 15 135 C 15 105 30 30 90 30 C 120 30 120 45 144 45 Q 129 21 129 6 C 129 6 129 6 135 3'
	);

	--bat-path: path(
		'M 150 93.75 C 153.75 93.75 157.5 93.75 161.25 82.5 Q 168.75 93.75 168.75 112.5 C 187.5 120 225 93.75 206.25 56.25 C 243.75 56.25 300 131.25 300 168.75 C 281.25 150 255 157.5 255 187.5 C 236.25 168.75 206.25 176.25 206.25 206.25 C 187.5 187.5 165 187.5 150 243.75 C 135 187.5 112.5 187.5 93.75 206.25 C 93.75 176.25 67.5 168.75 45 187.5 C 45 157.5 18.75 150 0 168.75 C 0 131.25 56.25 56.25 93.75 56.25 C 75 93.75 112.5 120 131.25 112.5 Q 131.25 93.75 138.75 82.5 C 142.5 93.75 146.25 93.75 150 93.75'
	);
}

.App {
  	text-align: center;
}

.App-header {
	top: 0;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content:start;
	font-size: 50px;
	font-weight: 900;
	color: white;
	text-align: start;
	height: 200px;
}

.page-title {
	background-color: #000;
	height: 200px;
	width: 220px;
	padding: 10px;
	margin: 0;

	flex-direction: column;
	align-items: start;
	justify-content: start;
}

.logo-container {
	display: flex; 
	align-items: flex-start;
	justify-content: center;

	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

.logo-container-inner {
	position: sticky;
	display: flex; 
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 300px;
	
	top: calc(50vh - 150px);
}

.title-text {
	margin-left: -300px;
	margin-top: 20px;
	

	display: flex; 
	align-items: center;
	justify-content: center;
	
	z-index: 10;
	font-size: 30px;
	font-weight: 900;
	color: #fff;
	text-align: center;
}

.animated-logo {
	height: 300px;
	width: 300px;
	z-index: -1;

	display:flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.animated-logo::before {
	position: relative;
	display:flex;
	justify-content: flex-start;
	align-items: flex-start;

	background-color:#000;
	color: #fff;
	margin:0px;

	width: 300px;
	height: 300px;
	margin-left: -82px;
	content:"";



	clip-path: path('M 135 3 C 135 3 141 0 144 3 Q 141 21 156 45 C 180 45 180 30 210 30 C 270 30 285 105 285 135 C 285 180 267 210 246 255 C 237 270 219 300 195 300 C 165 300 165 285 150 285 C 135 285 135 300 105 300 C 81 300 63 270 54 255 C 33 210 15 180 15 135 C 15 105 30 30 90 30 C 120 30 120 45 144 45 Q 129 21 129 6 C 129 6 129 6 135 3');
	
  	animation: logo-animation-2 15s ease-in-out normal infinite;
	z-index: 2;
}


@keyframes logo-animation-2 {
	/* Brain */
	0% {
		clip-path: var(--brain-path);
	}
	30% {
		clip-path: var(--brain-path);

		background-color: #000;
	}

	/* Apple*/
	35% {
		clip-path: var(--apple-path);

		/*background-color: red;*/
	}
	60% {
		clip-path: var(--apple-path);

		/*background-color: red;*/
	}

	/* Bat */
	65% {
		clip-path: var(--bat-path);

		background-color: #000000;
	}
	95% {
		clip-path: var(--bat-path);

	
		background-color: #000000;
	}

	100% {
		clip-path: var(--brain-path);

	}
}

.body {
	display: flex;
	align-items: center;
	justify-content:center;
	flex-wrap: wrap;
	width: 100vw;
}

.text-box-container {
	display: flex;
	align-items: flex-start;
	justify-content:center;
	
	width: 100vw;
	height: 100vh;

}

.text-box {
	position: sticky;
	top: calc(50vh - 50%);
	font-size: 20px;
	width: max(300px, 50vw);
	background-color: var(--color-b-1);
	border-radius: 5px;
	padding: 20px;
	margin: 20px 0vw;
}

.mug {
	background-color: #000;
	width: 300px;
	height: 300px;
	
	clip-path: path('M 35.2 0 L 233.2 0 C 239.8 0 244.2 4.4 244.2 11 C 244.2 55 200.2 110 178.2 110 C 156.2 110 134.2 110 90.2 110 C 68.2 110 24.2 55 24.2 11 C 24.2 4.4 28.6 0 35.2 0 M 233.2 22 C 233.2 22 255.2 11 266.2 11 C 283.8 11 288.2 26.4 288.2 33 C 288.2 66 233.2 99 200.2 88 C 200.2 85.8 200.2 83.6 200.2 81.4 C 233.2 92.4 281.6 61.6 281.6 33 C 281.6 26.4 277.2 17.6 266.2 17.6 C 255.2 17.6 246.4 22 233.2 28.6 M 2.2 114.4 C 90.2 114.4 178.2 114.4 266.2 114.4 C 277.2 114.4 244.2 132 178.2 132 C 148.8667 132 119.5333 132 90.2 132 C 24.2 132 -8.8 114.4 2.2 114.4');
}