:root {
    --color-a-1: rgba(20, 20, 30, 1);
    --color-a-2: rgba(30, 30, 40, 1);
    --color-a-3: rgba(40, 40, 50, 1);
    --color-a-4: rgba(50, 50, 60, 1);
    --color-a-5: rgba(70, 70, 80, 1);
    --color-a-6: rgba(90, 90, 100, 1);
    --color-b-1: rgba(240, 240, 255, 1);
    --color-b-2: rgba(210, 210, 225, 1);
    /* Red + green + muted colors */
    /*--color-c-1: #AD0E00;
	--color-d-1: #6EA16C;
	--color-e-1: #A3B0B8;
	--color-f-1: #B8B3A5;
	--color-g-1: #A99AAD;*/
    /* Rainbow */
    --color-c-1: #970FF2;
    --color-d-1: #0597F2;
    --color-e-1: #49D907;
    --color-f-1: #EAF205;
    --color-g-1: #F24607;
    --color-g-1: red;
    --color-g-1: rgb(170, 14, 27);
    --color-g-1: rgb(111, 16, 26);

    /*--color-g-1: rgb(222,56,27);*/
    --brain-path: path( 'M 120 45 C 147 42 159 42 192 48 Q 225 54 261 84 C 282 105 300 126 300 165 C 300 189 285 201 270 207 C 243 210 255 207 240 210 C 237 234 189 243 165 240 C 138 246 129 264 99 291 C 96 297 87 294 90 288 C 105 267 102 261 99 261 C 75 264 18 246 18 213 C 18 201 21 195 24 195 C 3 183 -6 147 12 117 Q 24 90 51 66 C 84 45 99 48 120 45');
    --apple-path: path( 'M 135 3 C 135 3 141 0 144 3 Q 141 21 156 45 C 180 45 180 30 210 30 C 270 30 285 105 285 135 C 285 180 267 210 246 255 C 237 270 219 300 195 300 C 165 300 165 285 150 285 C 135 285 135 300 105 300 C 81 300 63 270 54 255 C 33 210 15 180 15 135 C 15 105 30 30 90 30 C 120 30 120 45 144 45 Q 129 21 129 6 C 129 6 129 6 135 3');
    --bat-path: path( 'M 150 93.75 C 153.75 93.75 157.5 93.75 161.25 82.5 Q 168.75 93.75 168.75 112.5 C 187.5 120 225 93.75 206.25 56.25 C 243.75 56.25 300 131.25 300 168.75 C 281.25 150 255 157.5 255 187.5 C 236.25 168.75 206.25 176.25 206.25 206.25 C 187.5 187.5 165 187.5 150 243.75 C 135 187.5 112.5 187.5 93.75 206.25 C 93.75 176.25 67.5 168.75 45 187.5 C 45 157.5 18.75 150 0 168.75 C 0 131.25 56.25 56.25 93.75 56.25 C 75 93.75 112.5 120 131.25 112.5 Q 131.25 93.75 138.75 82.5 C 142.5 93.75 146.25 93.75 150 93.75');
    --bat-path-2: path( 'M 45 93.75 C 48.75 93.75 52.5 93.75 56.25 82.5 Q 63.75 93.75 63.75 112.5 C 63.75 131.25 63.75 187.5 82.5 168.75 C 101.25 187.5 82.5 318.75 67.5 412.5 C 75 356.25 71.25 337.5 60 356.25 C 63.75 300 63.75 281.25 52.5 300 C 60 262.5 52.5 225 45 243.75 C 37.5 225 26.25 262.5 37.5 300 C 26.25 281.25 26.25 300 30 356.25 C 18.75 337.5 18.75 356.25 22.5 412.5 C 7.5 318.75 -11.25 187.5 7.5 168.75 C 26.25 187.5 26.25 131.25 26.25 112.5 Q 26.25 93.75 33.75 82.5 C 37.5 93.75 41.25 93.75 45 93.75');
    --thought-bubble-path: path( 'M 234 261 C 210 261 210 228 234 228 C 258 228 258 261 234 261 M 108 30 C 120 0 168 0 180 30 C 204 9 255 18 255 60 C 300 60 306 123 282 135 C 297 165 267 192 246 189 C 246 222 198 243 171 222 C 156 252 102 240 96 207 C 66 222 24 186 45 150 C 18 132 27 81 60 75 C 51 48 78 18 108 30 M 255 285 C 243 285 243 267 255 267 C 267 267 267 285 255 285');
    --thought-bubble-path-2: path( 'M 238 261 C 210 261 210 225 234 225 C 258 225 258 261 238 261 M 112 39 C 115 5 173 -3 184 18 C 202 0 263 19 264 55 C 300 60 306 123 284 136 C 297 165 272 199 253 195 C 252 225 198 243 171 222 C 154 245 106 233 98 203 C 69 206 36 182 53 143 C 38 128 41 85 75 80 C 62 59 90 28 112 39 M 255 285 C 240 285 243 267 253 267 C 265 267 267 285 255 285');
    --thought-bubble-path-3: path( 'M 240 261 C 216 261 220 230 240 230 C 259 230 258 261 240 261 M 102 30 C 102 2 173 -3 184 18 C 202 0 255 28 251 58 C 289 58 300 117 280 136 C 297 165 264 195 247 190 C 250 217 198 243 175 227 C 162 247 98 239 92 211 C 63 224 16 174 35 142 C 7 124 21 70 48 66 C 37 40 77 13 102 30 M 252 285 C 238 285 243 265 255 265 C 267 265 267 285 252 285');
    --eye-path: path( 'M 0 90 C 45 -30 255 -30 300 90 C 255 210 30 210 0 90 L 9 90 C 39 198 246 198 291 90 C 246 -18 54 -18 9 90 Z M 90 90 C 90 57 117 30 150 30 C 183 30 210 57 210 90 C 210 123 183 150 150 150 C 117 150 90 123 90 90 L 99 90 C 99 117 123 141 150 141 C 177 141 201 117 201 90 C 201 63 177 39 150 39 C 123 39 99 63 99 90');
    --eye-path-2: path( 'M 0 90 C 45 -30 255 -30 300 90 C 255 210 30 210 0 90 L 9 90 C 39 198 246 198 291 90 C 246 198 39 198 9 90 Z M 90 90 C 90 57 117 30 150 30 C 183 30 210 57 210 90 C 210 123 183 150 150 150 C 117 150 90 123 90 90 L 99 90 C 99 117 123 141 150 141 C 177 141 201 117 201 90 C 201 63 177 39 150 39 C 123 39 99 63 99 90');
    --eyelid-path: path( 'M 0 90 C 45 -30 255 -30 300 90 C 255 210 30 210 0 90 L 9 90 C 39 198 246 198 291 90 C 246 -18 54 -18 9 90 Z');
    --eyelid-path-2: path( 'M 0 90 C 45 -30 255 -30 300 90 C 255 210 30 210 0 90 L 9 90 C 39 198 246 198 291 90 C 246 198 39 198 9 90 Z');
    --path-3D: path( 'M15.03 42.97C8.5 39.87 3.81 33.52 3.1 26h-3C1.12 38.32 11.42 48 24 48c.45 0 .88-.04 1.32-.07L17.7 40.3l-2.67 2.67zm1.78-13.05c-.38 0-.73-.05-1.05-.17-.31-.11-.58-.27-.8-.47-.22-.2-.39-.45-.51-.73-.12-.29-.18-.6-.18-.94h-2.6c0 .72.14 1.35.42 1.9.28.55.65 1.01 1.12 1.37.47.37 1.01.64 1.63.83.62.2 1.26.29 1.94.29.74 0 1.43-.1 2.07-.3.64-.2 1.19-.5 1.66-.89s.83-.87 1.1-1.44c.26-.57.4-1.22.4-1.95 0-.39-.05-.76-.14-1.12-.1-.36-.25-.7-.45-1.02-.21-.32-.48-.6-.81-.86a4.59 4.59 0 0 0-1.21-.63c.4-.18.75-.4 1.05-.66.3-.26.55-.54.75-.83.2-.3.35-.6.45-.92.1-.32.15-.64.15-.95 0-.73-.12-1.37-.36-1.92-.24-.55-.58-1.01-1.02-1.38-.44-.37-.96-.65-1.58-.84a6.84 6.84 0 0 0-2.06-.29c-.72 0-1.39.11-2 .32-.61.21-1.13.51-1.57.89-.44.38-.78.83-1.03 1.35-.25.52-.37 1.09-.37 1.7h2.6c0-.34.06-.64.18-.9.12-.27.29-.5.5-.68.21-.19.47-.34.76-.44.29-.1.61-.16.95-.16.8 0 1.39.21 1.78.62.39.41.58.99.58 1.73 0 .36-.05.68-.16.97-.11.29-.27.54-.49.75-.22.21-.5.37-.82.49-.33.12-.72.18-1.16.18h-1.54v2.05h1.54c.44 0 .84.05 1.19.15.35.1.65.25.9.47.25.21.44.48.58.8.13.32.2.7.2 1.14 0 .81-.23 1.43-.7 1.86-.45.42-1.08.63-1.89.63zm17.12-11.85a6.502 6.502 0 0 0-2.27-1.53c-.89-.36-1.86-.54-2.93-.54H24v16h4.59c1.11 0 2.11-.18 3.02-.54.91-.36 1.68-.87 2.32-1.53.64-.66 1.14-1.46 1.48-2.39.35-.93.52-1.98.52-3.14v-.79c0-1.16-.18-2.2-.53-3.14-.35-.94-.84-1.74-1.47-2.4zm-.79 6.34c0 .83-.09 1.59-.29 2.25-.19.67-.47 1.23-.85 1.69-.38.46-.85.81-1.42 1.06-.57.24-1.23.37-1.99.37h-1.81V18.24h1.95c1.44 0 2.53.46 3.29 1.37.75.92 1.13 2.24 1.13 3.98v.82zM24 0c-.45 0-.88.04-1.32.07L30.3 7.7l2.66-2.66C39.5 8.13 44.19 14.48 44.9 22h3C46.88 9.68 36.58 0 24 0z');
    --circle-path: path('M 0 150 C 0 67.5 67.5 0 150 0 C 232.5 0 300 67.5 300 150 C 300 232.5 232.5 300 150 300 C 67.5 300 0 232.5 0 150');

}

.App {
    text-align: center;
    width: 100vw;
}

.App-header {
    top: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font-size: 50px;
    font-weight: 900;
    /*color: white;*/
    text-align: start;
    height: 200px;
}

.page-title {
    background-color: #000;
    height: 200px;
    width: 220px;
    padding: 10px;
    margin: 0;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
}

.logo-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.logo-container-inner {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    /*max-width: 300px;
    min-height: 300px;*/
    padding: 0;
    top: calc(50vh - 150px);
    margin-bottom: -3000px;
    /*animation: logo-in 1.3s ease-in-out normal 1;*/
    z-index: -1;
}

@keyframes logo-in {
    /* Brain */
    0% {
        margin-bottom: -300px;
        top: 100%;
    }
    100% {
        margin-bottom: 0px;
        top: calc(50vh - 150px);
    }
}

.logo-container-inner-2 {
    width: 100%;
}

.title-text {
    opacity: 1;
    margin: 0;
    margin-top: -300px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    text-align: center;

    width: 300px;
    height: 300px;
}

.title-text-in {
    animation: title-text-in-animation 1.3s ease-in-out normal 1;
    opacity: 0;
}

.animated-logo {
    height: 300px;
    min-height: 300px;
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;


    position: relative;
    background-color: #000;
    color: #fff;
    margin: 0;
    /*clip-path: path('M 135 3 C 135 3 141 0 144 3 Q 141 21 156 45 C 180 45 180 30 210 30 C 270 30 285 105 285 135 C 285 180 267 210 246 255 C 237 270 219 300 195 300 C 165 300 165 285 150 285 C 135 285 135 300 105 300 C 81 300 63 270 54 255 C 33 210 15 180 15 135 C 15 105 30 30 90 30 C 120 30 120 45 144 45 Q 129 21 129 6 C 129 6 129 6 135 3');*/
    animation: logo-animation 7s ease-in-out normal infinite;
}

@keyframes logo-animation {
    /* Brain */
    0% {
        clip-path: var(--brain-path);
    }
    28.3% {
        clip-path: var(--brain-path);
        background-color: #000;
    }
    /* Apple*/
    33.3% {
        clip-path: var(--apple-path);
    }
    61.7% {
        clip-path: var(--apple-path);
    }
    /* Bat */
    66.7% {
        clip-path: var(--bat-path);
        background-color: #000000;
    }
    95% {
        clip-path: var(--bat-path);
        background-color: #000000;
    }
    /* Brain */
    100% {
        clip-path: var(--brain-path);
    }
}

.expander-container {
    /*top: 0;
    right: 0;*/
    max-width: 100vw;
    max-height: 200vh;
    min-width: 100vw;
    min-height: 200vh;
    /*min-width: 300px;
    min-height: 300px;*/
    margin-bottom: -100vh;
    margin-top: -100vh;
    margin-left: 0vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;

}

.animated-logo-expander {
    height: 300px;
    min-height: 300px;
    width: 300px;
    margin-bottom: -300px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;


    position: relative;
    background-color: #000000;
    clip-path: var(--circle-path);
    z-index: 20;
    opacity: 1;

}

.logo-animate-in-offscreen {
    animation: logo-out 2s ease-in-out normal forwards;
    transform: scale(1);
    background-color: #000;
    opacity: 0;


    /*margin-top: -4200px;*/
}

@keyframes logo-out {
    0% {
        opacity: 0;
        transform: scale(1);
        background-color: #000;

    }
    20% {
        opacity: 1;
    }
    100% {
        transform: scale(20);
        margin: 0;
        
        margin-top: -300px;
        opacity: 1;
        background-color: var(--color-g-1);

    }
}

.logo-animate-in-onscreen {
    opacity: 1;
    animation: logo-in-scroll 2s ease-in-out normal forwards; 
    padding: 0;
    transform: scale(20);
    background-color: var(--color-g-1);
}

@keyframes logo-in-scroll {
    0% {
        opacity: 1;

        transform: scale(20) translateZ(1px);
        background-color: var(--color-g-1);
        

    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1) translateZ(1px);
        background-color: #000;
        

    }
}

.under-logo {
    height: 50vh;
}

.text-box-container {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    padding: 0;
    height: auto;
    z-index: 3;
    margin: 0;
    padding: 0;
}

.mugs-image {
    position: sticky;
    background-image: url("/public/pictures/fancy_mug.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: left;
    min-width: 100%;
    min-height: 100%;
    margin-bottom: -100vh;
    filter: blur(0px);
}

.text-box-container-overview {
    margin-top: -50vh;
}

.explain-animate-in-offscreen {
    /*opacity: 0;*/
    animation: explain-out 2s ease-in-out normal 1;
}

@keyframes explain-out {
    0% {
        /*opacity: 1;*/
    }
    100% {        
        /*opacity: 0;/*
    }
}

.explain-animate-in-onscreen {
    opacity: 1;
    animation: explain-in-scroll 1.3s ease-in-out normal 1;
}

@keyframes explain-in-scroll {
    0% {
        /*opacity: 0;*/
        height: 50%;
    }
    67% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}


.text-box-container-bat {
    min-height: 100vh;
}

.text-box-container-mary {
    min-height: 100vh;
    /*background-color: var(--color-b-1);*/
}

.text-box-container-zombie {
    padding: 0;
}

.text-box-container-inner {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    width: 50vw;
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    align-content: space-between;
}

.text-box-container-inner-2 {
    min-height: 100vh;
}

.text-box-container-inner-overview {
    min-height: 300vh;
}

.text-box-container-inner-bat {
    min-height: 100vh;
}

.text-box-container-inner-mary {
    min-height: 100vh;
    color: white;
}

.text-box-container-inner-zombie {
    margin: 0;
    min-height: 100vh;
}

.text-box-container-inner-materialism {
    margin: 0;
    min-height: 100vh;
}

.text-box-overview {
    position: sticky;
    top: 0;
}

.text-animate-in {
    width: 100%;
    opacity: 0;
    padding: 0;
}

.text-animate-in-offscreen {
    opacity: 0;
    animation: text-out 1s ease-in-out normal 1;
    padding: 0;
}

@keyframes text-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.text-animate-in-onscreen {
    opacity: 1;
    animation: text-in 1.5s ease-in-out normal 1;
    
    color: white;
    
}

@keyframes text-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.text-box {
    font-size: 35px;
    font-weight: 600;
    text-align: start;
    width: auto;
    padding: 0px;
    margin: 0 25px;
    /*color: white;*/
    border: 0.001px solid rgba(0, 0, 0, 0);
    /*text-shadow: black 0 0 2px;*/
    /*background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;*/
    color: white;
}

.text-box-bat {
    /*text-align: end;*/
}

.like-something {
    color: black;
    font-weight: 900;
    border-radius: 20px;
}

.black-text {
    color: #000;
}

.red-text {
    color: var(--color-g-1);
}

.brown-text {
    color: #7B3F00;
}

.blue-text {
    color: var(--color-d-1);
}

.overview-container {
    position: sticky;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    width: 50vw;
    min-width: 300px;
    min-height: 300vh;
    height: 300vh;
    height: 25vw;
    top: 0;
}

.overview-container-inner {
    position: sticky;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 50vw;
    min-width: 300px;
    /*min-height: 300vh;*/
    height: fit-content;
    height: 300px;
    height: 100vh;
    /*top: calc(50vh - 150px);*/
    top: 0;
    margin: 0;
    padding: 0;
}

.mug-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25.105vw;
    height: 25vw;
    background-color: rgba(64, 83, 108, 1);
    background-color: rgba(91, 58, 50, 1);
    /*background-color: rgba(146,81,67,1);*/
}

.thought-bubble-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24.895vw;
    height: 25vw;
}

.mug {
    background-color: #000;
    /*background-color: #ffffff;*/
    background-color: #f00;
    width: 300px;
    height: 300px;
    top: calc(50vh - 150px);
    margin-top: 20px;
    margin-bottom: -20px;
    clip-path: path('M 36.5376 90 L 242.0616 90 C 248.9124 90 253.4796 94.5672 253.4796 101.418 C 253.4796 147.09 207.8076 204.18 184.9716 204.18 C 162.1356 204.18 139.2996 204.18 93.6276 204.18 C 70.7916 204.18 25.1196 147.09 25.1196 101.418 C 25.1196 94.5672 29.6868 90 36.5376 90 M 242.0616 112.836 C 242.0616 112.836 264.8976 101.418 276.3156 101.418 C 294.5844 101.418 299.1516 117.4032 299.1516 124.254 C 299.1516 158.508 242.0616 192.762 207.8076 181.344 C 207.8076 179.0604 207.8076 176.7768 207.8076 174.4932 C 242.0616 185.9112 292.3008 153.9408 292.3008 124.254 C 292.3008 117.4032 287.7336 108.2688 276.3156 108.2688 C 264.8976 108.2688 255.7632 112.836 242.0616 119.6868 M 2.2836 208.7472 C 93.6276 208.7472 184.9716 208.7472 276.3156 208.7472 C 287.7336 208.7472 253.4796 227.016 184.9716 227.016 C 154.5236 227.016 124.0756 227.016 93.6276 227.016 C 25.1196 227.016 -9.1344 208.7472 2.2836 208.7472 M 139 70 C 149 40 119 30 139 0 C 129 30 159 40 139 70 M 89 0 C 69 30 99 40 89 70 C 109 40 79 30 89 0 M 189 0 C 169 30 199 40 189 70 C 209 40 179 30 189 0');
    animation: mug-animation 1s ease-in-out alternate infinite;
    z-index: 2;
}

@keyframes mug-animation {
    /* Brain */
    0% {
        clip-path: path('M 36.5376 90 L 242.0616 90 C 248.9124 90 253.4796 94.5672 253.4796 101.418 C 253.4796 147.09 207.8076 204.18 184.9716 204.18 C 162.1356 204.18 139.2996 204.18 93.6276 204.18 C 70.7916 204.18 25.1196 147.09 25.1196 101.418 C 25.1196 94.5672 29.6868 90 36.5376 90 M 242.0616 112.836 C 242.0616 112.836 264.8976 101.418 276.3156 101.418 C 294.5844 101.418 299.1516 117.4032 299.1516 124.254 C 299.1516 158.508 242.0616 192.762 207.8076 181.344 C 207.8076 179.0604 207.8076 176.7768 207.8076 174.4932 C 242.0616 185.9112 292.3008 153.9408 292.3008 124.254 C 292.3008 117.4032 287.7336 108.2688 276.3156 108.2688 C 264.8976 108.2688 255.7632 112.836 242.0616 119.6868 M 2.2836 208.7472 C 93.6276 208.7472 184.9716 208.7472 276.3156 208.7472 C 287.7336 208.7472 253.4796 227.016 184.9716 227.016 C 154.5236 227.016 124.0756 227.016 93.6276 227.016 C 25.1196 227.016 -9.1344 208.7472 2.2836 208.7472 M 139 70 C 149 40 119 30 139 0 C 129 30 159 40 139 70 M 89 0 C 69 30 99 40 89 70 C 109 40 79 30 89 0 M 189 0 C 169 30 199 40 189 70 C 209 40 179 30 189 0');
    }
    100% {
        clip-path: path('M 36.5376 90 L 242.0616 90 C 248.9124 90 253.4796 94.5672 253.4796 101.418 C 253.4796 147.09 207.8076 204.18 184.9716 204.18 C 162.1356 204.18 139.2996 204.18 93.6276 204.18 C 70.7916 204.18 25.1196 147.09 25.1196 101.418 C 25.1196 94.5672 29.6868 90 36.5376 90 M 242.0616 112.836 C 242.0616 112.836 264.8976 101.418 276.3156 101.418 C 294.5844 101.418 299.1516 117.4032 299.1516 124.254 C 299.1516 158.508 242.0616 192.762 207.8076 181.344 C 207.8076 179.0604 207.8076 176.7768 207.8076 174.4932 C 242.0616 185.9112 292.3008 153.9408 292.3008 124.254 C 292.3008 117.4032 287.7336 108.2688 276.3156 108.2688 C 264.8976 108.2688 255.7632 112.836 242.0616 119.6868 M 2.2836 208.7472 C 93.6276 208.7472 184.9716 208.7472 276.3156 208.7472 C 287.7336 208.7472 253.4796 227.016 184.9716 227.016 C 154.5236 227.016 124.0756 227.016 93.6276 227.016 C 25.1196 227.016 -9.1344 208.7472 2.2836 208.7472 M 139 70 C 119 40 149 30 139 0 C 159 30 129 40 139 70 M 89 0 C 99 30 69 40 89 70 C 79 40 109 30 89 0 M 189 0 C 199 30 169 40 189 70 C 179 40 209 30 189 0');
    }
}


/*
.eye {
	background-color: #000;
	background-color: var(--color-g-1);
	width: 300px;
	height: 180px;


	animation: eye-animation 15s ease-in-out alternate infinite;
	z-index: 2;
}


@keyframes eye-animation {
	0% {
		clip-path: var(--eyelid-path);	
	}
	

	50% {
		clip-path: var(--eyelid-path);	
	}
	

	51% {
		clip-path: var(--eyelid-path-2);	
	}

	52% {
		clip-path: var(--eyelid-path);	
	}

	60% {
		clip-path: var(--eyelid-path);	
	}
	61% {
		clip-path: var(--eyelid-path-2);	
	}
	62% {
		clip-path: var(--eyelid-path);	
	}
	100% {
		clip-path: var(--eyelid-path);	
	}
}*/

@keyframes blink {
    /* Start with the eye open */
    0% {
        height: 50px;
    }
    /* Close the eye at 50% */
    50% {
        height: 0;
    }
    /* Open the eye again at 100% */
    100% {
        height: 50px;
    }
}


.thought-bubble {
    background-color: #000;
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    top: calc(50vh - 150px);
    top: 0;
    margin: 0px;
    margin-left: -20px;
    clip-path: var(--thought-bubble-path);
    animation: thought-bubble-animation 10s ease-in-out normal infinite;
    z-index: 2;
    /*background-image: url("/public/pictures/mugs_1.png");
	background-position: center;
	background-size: 300px;
	background-position-y: 290px;
	background-position-x: 10px;*/
}

@keyframes thought-bubble-animation {
    /* Brain */
    0% {
        clip-path: var(--thought-bubble-path);
    }
    33.3% {
        clip-path: var(--thought-bubble-path-2);
    }
    66.7% {
        clip-path: var(--thought-bubble-path-3);
    }
    100% {
        clip-path: var(--thought-bubble-path);
    }
}

.mug-image {
    position: sticky;
    width: 100%;
    height: calc(100vh - 300px);
    height: calc(100vh - 25vw);
    /*top: calc(50vh - 150px);*/
    margin: 0;
    z-index: 2;
    background-image: url("/public/pictures/mugs_1.png");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-position: center;
    background-size: 100%;
}

.bat {
    top: calc(50vh - 150px);
    margin-top: -20px;
    margin-bottom: -30px;
    clip-path: var(--bat-path);
    position: sticky;
    margin: 40px 0px;
    width: 300px;
    height: 300px;
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll-x) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
    z-index: 2;
    backdrop-filter: invert(70%);
}

@keyframes rotate {
    to {
        transform: rotate(3600deg);
        -ms-transform: -ms-rotate(3600deg);
        -webkit-transform: -webkit-rotate(3600deg);
        -moz-transform: -moz-rotate(3600deg);
        -o-transform: -o-rotate(3600deg);
    }
}

@keyframes bat-animation {
    /* Brain */
    0% {
        clip-path: var(--bat-path);
        /*height: 400px;*/
        width: 300px;
    }
    100% {
        clip-path: var(--bat-path-2);
        /*height: 400px;*/
        width: 90px;
    }
}

.mary {
    position: sticky;
    background-color: #000;
    width: 300px;
    height: 300px;
    margin: 40px 0px;
    top: calc(50vh - 150px);
    /*clip-path: path('M 36.5376 90 L 242.0616 90 C 248.9124 90 253.4796 94.5672 253.4796 101.418 C 253.4796 147.09 207.8076 204.18 184.9716 204.18 C 162.1356 204.18 139.2996 204.18 93.6276 204.18 C 70.7916 204.18 25.1196 147.09 25.1196 101.418 C 25.1196 94.5672 29.6868 90 36.5376 90 M 242.0616 112.836 C 242.0616 112.836 264.8976 101.418 276.3156 101.418 C 294.5844 101.418 299.1516 117.4032 299.1516 124.254 C 299.1516 158.508 242.0616 192.762 207.8076 181.344 C 207.8076 179.0604 207.8076 176.7768 207.8076 174.4932 C 242.0616 185.9112 292.3008 153.9408 292.3008 124.254 C 292.3008 117.4032 287.7336 108.2688 276.3156 108.2688 C 264.8976 108.2688 255.7632 112.836 242.0616 119.6868 M 2.2836 208.7472 C 93.6276 208.7472 184.9716 208.7472 276.3156 208.7472 C 287.7336 208.7472 253.4796 227.016 184.9716 227.016 C 154.5236 227.016 124.0756 227.016 93.6276 227.016 C 25.1196 227.016 -9.1344 208.7472 2.2836 208.7472 M 139 70 C 149 40 119 30 139 0 C 129 30 159 40 139 70 M 89 0 C 69 30 99 40 89 70 C 109 40 79 30 89 0 M 189 0 C 169 30 199 40 189 70 C 209 40 179 30 189 0');*/
    clip-path: var(--apple-path);
    animation: mary-animation 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll-x) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
    z-index: 100;
}

@keyframes mary-animation {
    0% {
        background-color: #000;
    }
    85% {
        background-color: #000;
    }
    87% {
        background-color: #f00;
    }
    100% {
        background-color: #f00;
    }
}

.zombie {
    position: sticky;
    width: 50vw;
    min-height: 100vh;
    height: 100%;

    background-image: url("/public/pictures/p-zombie-3.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    animation: zombie-animation 8s ease-in-out normal infinite;
    filter: blur(4px);
}

@keyframes zombie-animation {
    0% {
        filter: grayscale(0%);
        opacity: 1;
    }
    30% {
        filter: grayscale(0%);
        opacity: 1;
        
    }
    40% {
        filter: grayscale(100%);
        opacity: 0.1;
    }
    90% {
        filter: grayscale(100%); 
        opacity: 0.1;
    }
    100% {
        filter: grayscale(0%);
        opacity: 1;
    }
}

.zombie-no-bg {
    position: sticky;
    width: 50vw;
    min-height: 100vh;
    height: 100%;
    margin-left: -50vw;

    background-image: url("/public/pictures/p-zombie-3-no-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;

    animation: zombie-no-bg-animation 8s ease-in-out normal infinite;
    
}

@keyframes zombie-no-bg-animation {
    0% {
        filter: grayscale(0%);
    }
    40% {
        filter: grayscale(0%);
    }
    50% {
        filter: grayscale(100%);
    }
    85% {
        filter: grayscale(100%); 
    }
    95% {
        filter: grayscale(0%);
    }
    100% {
        filter: grayscale(0%);
    }
}

.zombie-no-bg-2 {
    margin-left: -60vw;
    opacity: 0.3;
    filter: grayscale(100%) brightness(1.9);
    z-index: 9;

    animation: zombie-no-bg-2-animation 8s ease-in-out normal infinite;
}

@keyframes zombie-no-bg-2-animation {
    0% {
        opacity: 0.3;
        margin-left: -60vw;
    }
    35% {
        opacity: 0.3;
        margin-left: -61vw;
    }
    45% {
        opacity: 0;
        margin-left: -50vw;
    }
    90% {
        opacity: 0;
        margin-left: -50vw;
    }
    100% {
        opacity: 0.3;
        margin-left: -60vw;
    }
}

.materialism {
    position: sticky;
    width: 50vw;
    min-height: 100vh;
    height: 100%;

    /*background-image: url("/public/pictures/p-zombie-3.jpeg");*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.bat-container {
    /*position: sticky;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 50vw;
    min-height: 100vh;
    height: 115vh;

    perspective: 1px;

    overflow: hidden;
}

.mary-container {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50vw;
    width: 50vw;
    min-width: 50vw;
    min-height: 100vh;
    min-height: 100%;
    top: 0;
    bottom: 0;
}

.zombie-container {
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50vw;
    height: 100%;
    min-height: 100%;
    margin: 0;
    overflow: hidden;
}

.materialism-container {
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50vw;
    height: 100%;
    min-height: 100%;
    margin: 0;
    overflow: hidden;
}

.bat-container-inner {
    flex-wrap: wrap;
    width: 200vw;
    min-width: 200vw;
    /*margin-left: -25vw;
    margin-right: -25vw;*/
    min-height: 200vh;
    height: 200vh;
    background-image: url("/public/pictures/bat_impressionism_grayscale.jpeg");

    background-size: cover;
    
    background-repeat: repeat;
    background-position: center;

    transform: translateZ(-2px);
    /*transform: scale(0.5);*/
    /*transform: translate(-50%, -50%);*/


    background-attachment: fixed;
    border: 2px solid black;
}


.mary-container-inner {
    position: sticky;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 50vw;
    min-height: 100vh;
    /*background-color: #fff;*/
}

.zombie-container-inner {
    position: sticky;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    width: 50vw;
    min-height: 100vh;
    height: 100vh;
}

.materialism-container-inner {
    position: sticky;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    width: 50vw;
    min-height: 100vh;
    height: 100vh;
}

.purple-background {
    background-color: var(--color-c-1);
}

.blue-background {
    background-color: var(--color-d-1);
}

.green-background {
    background-color: var(--color-e-1);
}

.yellow-background {
    background-color: var(--color-f-1);
}

.red-background {
    background-color: var(--color-g-1);
}

.black-background {
    background-color: #000;
}

.gray-background {
    background-color: #444;
}

.white-background {
    background-color: #fff;
}

.black-text {
    color: black;
}

.white-text {
    color: white;
}

.yellow-text {
    color: var(--color-f-1);
}

.reading-section {
    display: flex;
    align-items: end;
    justify-content: start;
    width: 100%;
    margin: 20px;
    bottom: 0;
}

.read-more {
    height: 45px;
    height: fit-content;
    width: fit-content;
    bottom: 0;
    border-radius: 100px;
    font-weight: 700;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 3px 15px;
    text-decoration: none;
}

.marys-room {
    height: 100vh;
    width: 100%;
}

.move-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    margin-top: -80px;
}

.move-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    clip-path: var(--path-3D);
    backdrop-filter: invert(100%);
}

@media (max-width: 500px) {
    .text-box-container-inner {
        padding: 0;
        margin: 0;
        width: auto;
    }
    .text-box {
        padding: 0;
        margin: 0;
    }
    .svg-container {
        width: 100vw;
    }
    .overview-container {
        height: calc(600px + 100vw);
        min-height: calc(600px + 100vw);
        max-height: calc(600px + 100vw);
        width: 100%;
    }
    .overview-container-inner {
        height: calc(600px + 100vw);
        min-height: calc(600px + 100vw);
        max-height: calc(600px + 100vw);
        width: 100%;
    }
    .mug-image {
        background-repeat: no-repeat;
        background-position: center;
    }
    .mary-container {
        position: relative;
        height: 75vh;
        min-height: 75vh;
        width: 50vw;
        min-width: 50vw;
    }
    .mary-container-inner {
        height: 75vh;
        min-height: 75vh;
        width: 300px;
    }
    .zombie-container {
        position: relative;
        height: 75vh;
        min-height: 75vh;
        
    }
    .zombie-container-inner {
        height: 75vh;
        min-height: 75vh;
        width: 300px;
    }
    .text-box-container-bat {
        display: flex;
        flex-direction: column-reverse;
        width: auto;
    }
    .text-box-container-zombie {
        display: flex;
        flex-direction: column-reverse;
        width: auto;
    }
    .marys-room {
        height: 90vh;
    }
}

.test-svg {
    height: 200px;
    width: 200px;
    background-color: purple;
    clip-path: path('m 40 25 c 1 0 2 0 3 -3 q 2 3 2 8 c 5 2 15 -5 10 -15 c 10 0 25 20 25 30 c -5 -5 -12 -3 -12 5 c -5 -5 -13 -3 -13 5 c -5 -5 -11 -5 -15 10 c -4 -15 -10 -15 -15 -10 c 0 -8 -7 -10 -13 -5 c 0 -8 -7 -10 -12 -5 c 0 -10 15 -30 25 -30 c -5 10 5 17 10 15 q 0 -5 2 -8 c 1 3 2 3 3 3');
    z-index: 1000;
}

.test-image {
    width: 100vw;
    height: 100vh;
    background-image: url("/public/pictures/mugs_1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
    font-weight: 800;
    background-attachment: fixed;
}