:root {
	--color-a-1: rgba(20,20,30,1);
	--color-a-2: rgba(30,30,40,1);
	--color-a-3: rgba(40,40,50,1);
	--color-a-4: rgba(50,50,60,1);
	--color-a-5: rgba(70,70,80,1);
	--color-a-6: rgba(90,90,100,1);

	--color-b-1: rgba(240,240,255,1);
	--color-b-2: rgba(210,210,225,1);

	/* Red + green + muted colors */
	/*--color-c-1: #AD0E00;
	--color-d-1: #6EA16C;
	--color-e-1: #A3B0B8;
	--color-f-1: #B8B3A5;
	--color-g-1: #A99AAD;*/


	/* Rainbow */
	--color-c-1: #970FF2;
	--color-d-1: #0597F2;
	--color-e-1: #49D907;
	--color-f-1: #EAF205;
	--color-g-1: #F24607;


	



	--brain-path: path(
		'M 120 45 C 147 42 159 42 192 48 Q 225 54 261 84 C 282 105 300 126 300 165 C 300 189 285 201 270 207 C 243 210 255 207 240 210 C 237 234 189 243 165 240 C 138 246 129 264 99 291 C 96 297 87 294 90 288 C 105 267 102 261 99 261 C 75 264 18 246 18 213 C 18 201 21 195 24 195 C 3 183 -6 147 12 117 Q 24 90 51 66 C 84 45 99 48 120 45'
		);
	
	--apple-path: path(
		'M 135 3 C 135 3 141 0 144 3 Q 141 21 156 45 C 180 45 180 30 210 30 C 270 30 285 105 285 135 C 285 180 267 210 246 255 C 237 270 219 300 195 300 C 165 300 165 285 150 285 C 135 285 135 300 105 300 C 81 300 63 270 54 255 C 33 210 15 180 15 135 C 15 105 30 30 90 30 C 120 30 120 45 144 45 Q 129 21 129 6 C 129 6 129 6 135 3'
	);

	--bat-path: path(
		'M 150 93.75 C 153.75 93.75 157.5 93.75 161.25 82.5 Q 168.75 93.75 168.75 112.5 C 187.5 120 225 93.75 206.25 56.25 C 243.75 56.25 300 131.25 300 168.75 C 281.25 150 255 157.5 255 187.5 C 236.25 168.75 206.25 176.25 206.25 206.25 C 187.5 187.5 165 187.5 150 243.75 C 135 187.5 112.5 187.5 93.75 206.25 C 93.75 176.25 67.5 168.75 45 187.5 C 45 157.5 18.75 150 0 168.75 C 0 131.25 56.25 56.25 93.75 56.25 C 75 93.75 112.5 120 131.25 112.5 Q 131.25 93.75 138.75 82.5 C 142.5 93.75 146.25 93.75 150 93.75'
	);

	--bat-path-2: path(
		'M 45 93.75 C 48.75 93.75 52.5 93.75 56.25 82.5 Q 63.75 93.75 63.75 112.5 C 63.75 131.25 63.75 187.5 82.5 168.75 C 101.25 187.5 82.5 318.75 67.5 412.5 C 75 356.25 71.25 337.5 60 356.25 C 63.75 300 63.75 281.25 52.5 300 C 60 262.5 52.5 225 45 243.75 C 37.5 225 26.25 262.5 37.5 300 C 26.25 281.25 26.25 300 30 356.25 C 18.75 337.5 18.75 356.25 22.5 412.5 C 7.5 318.75 -11.25 187.5 7.5 168.75 C 26.25 187.5 26.25 131.25 26.25 112.5 Q 26.25 93.75 33.75 82.5 C 37.5 93.75 41.25 93.75 45 93.75'
	);
}

.App {
  	text-align: center;
}

.App-header {
	top: 0;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content:start;
	font-size: 50px;
	font-weight: 900;
	color: white;
	text-align: start;
	height: 200px;
}

.page-title {
	background-color: #000;
	height: 200px;
	width: 220px;
	padding: 10px;
	margin: 0;

	flex-direction: column;
	align-items: start;
	justify-content: start;
}

.logo-container {
	display: flex; 
	align-items: flex-start;
	justify-content: center;

	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;

	margin-bottom: 20px;
}

.logo-container-inner {
	position: sticky;
	display: flex; 
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 300px;
	
	top: calc(50vh - 150px);
	
	animation: logo-in 1.3s ease-in-out normal 1;
	z-index: -1;


}

@keyframes logo-in {
	/* Brain */
	0% {
		margin-bottom: -300px;
		top: 100%;
	}
	100% {
		margin-bottom: 0px;
		top: calc(50vh - 150px);
	}
}

.title-text {
	margin-left: -300px;
	margin-top: 20px;
	

	display: flex; 
	align-items: center;
	justify-content: center;
	
	z-index: 10;
	font-size: 30px;
	font-weight: 900;
	color: #fff;
	text-align: center;
}

.animated-logo {
	height: 300px;
	width: 300px;

	display:flex;
	justify-content: flex-start;
	align-items: flex-start;

	
}

.animated-logo::before {
	position: relative;
	display:flex;
	justify-content: flex-start;
	align-items: flex-start;

	background-color:#000;
	color: #fff;
	margin:0px;

	width: 300px;
	height: 300px;
	margin-left: -82px;
	content:"";



	clip-path: path('M 135 3 C 135 3 141 0 144 3 Q 141 21 156 45 C 180 45 180 30 210 30 C 270 30 285 105 285 135 C 285 180 267 210 246 255 C 237 270 219 300 195 300 C 165 300 165 285 150 285 C 135 285 135 300 105 300 C 81 300 63 270 54 255 C 33 210 15 180 15 135 C 15 105 30 30 90 30 C 120 30 120 45 144 45 Q 129 21 129 6 C 129 6 129 6 135 3');
	
  	animation: logo-animation 10s ease-in-out normal infinite;
}


@keyframes logo-animation {
	/* Brain */
	0% {
		clip-path: var(--brain-path);
	}
	28.3% {
		clip-path: var(--brain-path);

		background-color: #000;
	}

	/* Apple*/
	33.3% {
		clip-path: var(--apple-path);

		/*background-color: red;*/
	}
	61.7% {
		clip-path: var(--apple-path);

		/*background-color: red;*/
	}

	/* Bat */
	66.7% {
		clip-path: var(--bat-path);

		background-color: #000000;
	}
	95% {
		clip-path: var(--bat-path);

	
		background-color: #000000;
	}

	/* Brain */
	100% {
		clip-path: var(--brain-path);

	}
}

.body {
	display: flex;
	align-items: center;
	justify-content:center;
	flex-wrap: wrap;
	width: 100vw;
}

.text-box-container {
	display: flex;
	align-items: center;
	justify-content:center;
	flex-wrap: wrap;
	
	width: 100vw;
	padding: 0;

	height:auto; 
	z-index: 3;
}

.text-box-container-mug {

}

.text-box-container-bat {
	min-height: 100vh;
}

.text-box-container-mary {
	min-height: 100vh;
	/*background-color: var(--color-b-1);*/
}

.text-box-container-zombie {
	padding: 0;
}

.text-box-container-inner {
	display: flex;
	align-items: center;
	justify-content:center;
	flex-wrap: wrap;

	width: 50vw;
	margin: 0;
}

.text-box-container-inner-2 {
	min-height: 100vh;
}

.text-box-container-inner-mug {
	min-height: 300vh;
}

.text-box-container-inner-bat {
	min-height: 100vh;
}

.text-box-container-inner-mary {
	min-height: 100vh;

	color: white;
}

.text-box-container-inner-zombie {
	margin: 0;
	min-height: 100vh;
}


.text-box-mug {
	position: sticky;
	top: 0;
}

.text-box {
	font-size: 35px;
	font-weight: 600;
	text-align: start;
	width: 50vw;
	width: calc(100% - 60px);
	padding: 30px;
	margin: 0px 0px;
	color: white;
}

.text-box-bat {
	/*text-align: end;*/
}

.like-something {
	color: black;
	font-weight: 900;
	border-radius: 20px;
}

.red-text {
	color: var(--color-g-1);
}

.brown-text {
	color: #7B3F00;
}

.blue-text {
	color: var(--color-d-1);
}



.mug-container {
	position: sticky;

	display: flex;
	align-items: center;
	justify-content:center;
	flex-wrap: wrap;
	
	width: 50vw;
	min-width: 300px;
	/*min-height: 300vh;*/
	height: 100%;

}

.mug-container-inner {
	position: sticky;

	display: flex;
	align-items: flex-start;
	justify-content:center;
	flex-wrap: wrap;
	
	width: 50vw;
	min-width: 300px;
	min-height: 300vh;
}

.mug {
	position: sticky;
	background-color: #000;
	width: 300px;
	height: 300px;

	top: calc(50vh - 150px);
	margin-top: 20px;
	margin-bottom: -50px;
	
	clip-path: path('M 36.5376 90 L 242.0616 90 C 248.9124 90 253.4796 94.5672 253.4796 101.418 C 253.4796 147.09 207.8076 204.18 184.9716 204.18 C 162.1356 204.18 139.2996 204.18 93.6276 204.18 C 70.7916 204.18 25.1196 147.09 25.1196 101.418 C 25.1196 94.5672 29.6868 90 36.5376 90 M 242.0616 112.836 C 242.0616 112.836 264.8976 101.418 276.3156 101.418 C 294.5844 101.418 299.1516 117.4032 299.1516 124.254 C 299.1516 158.508 242.0616 192.762 207.8076 181.344 C 207.8076 179.0604 207.8076 176.7768 207.8076 174.4932 C 242.0616 185.9112 292.3008 153.9408 292.3008 124.254 C 292.3008 117.4032 287.7336 108.2688 276.3156 108.2688 C 264.8976 108.2688 255.7632 112.836 242.0616 119.6868 M 2.2836 208.7472 C 93.6276 208.7472 184.9716 208.7472 276.3156 208.7472 C 287.7336 208.7472 253.4796 227.016 184.9716 227.016 C 154.5236 227.016 124.0756 227.016 93.6276 227.016 C 25.1196 227.016 -9.1344 208.7472 2.2836 208.7472 M 139 70 C 149 40 119 30 139 0 C 129 30 159 40 139 70 M 89 0 C 69 30 99 40 89 70 C 109 40 79 30 89 0 M 189 0 C 169 30 199 40 189 70 C 209 40 179 30 189 0');


	animation: mug-animation 1s ease-in-out alternate infinite;
	z-index: 2;
}


@keyframes mug-animation {
	/* Brain */
	0% {
		clip-path: path('M 36.5376 90 L 242.0616 90 C 248.9124 90 253.4796 94.5672 253.4796 101.418 C 253.4796 147.09 207.8076 204.18 184.9716 204.18 C 162.1356 204.18 139.2996 204.18 93.6276 204.18 C 70.7916 204.18 25.1196 147.09 25.1196 101.418 C 25.1196 94.5672 29.6868 90 36.5376 90 M 242.0616 112.836 C 242.0616 112.836 264.8976 101.418 276.3156 101.418 C 294.5844 101.418 299.1516 117.4032 299.1516 124.254 C 299.1516 158.508 242.0616 192.762 207.8076 181.344 C 207.8076 179.0604 207.8076 176.7768 207.8076 174.4932 C 242.0616 185.9112 292.3008 153.9408 292.3008 124.254 C 292.3008 117.4032 287.7336 108.2688 276.3156 108.2688 C 264.8976 108.2688 255.7632 112.836 242.0616 119.6868 M 2.2836 208.7472 C 93.6276 208.7472 184.9716 208.7472 276.3156 208.7472 C 287.7336 208.7472 253.4796 227.016 184.9716 227.016 C 154.5236 227.016 124.0756 227.016 93.6276 227.016 C 25.1196 227.016 -9.1344 208.7472 2.2836 208.7472 M 139 70 C 149 40 119 30 139 0 C 129 30 159 40 139 70 M 89 0 C 69 30 99 40 89 70 C 109 40 79 30 89 0 M 189 0 C 169 30 199 40 189 70 C 209 40 179 30 189 0');	}
	

	100% {
		clip-path: path('M 36.5376 90 L 242.0616 90 C 248.9124 90 253.4796 94.5672 253.4796 101.418 C 253.4796 147.09 207.8076 204.18 184.9716 204.18 C 162.1356 204.18 139.2996 204.18 93.6276 204.18 C 70.7916 204.18 25.1196 147.09 25.1196 101.418 C 25.1196 94.5672 29.6868 90 36.5376 90 M 242.0616 112.836 C 242.0616 112.836 264.8976 101.418 276.3156 101.418 C 294.5844 101.418 299.1516 117.4032 299.1516 124.254 C 299.1516 158.508 242.0616 192.762 207.8076 181.344 C 207.8076 179.0604 207.8076 176.7768 207.8076 174.4932 C 242.0616 185.9112 292.3008 153.9408 292.3008 124.254 C 292.3008 117.4032 287.7336 108.2688 276.3156 108.2688 C 264.8976 108.2688 255.7632 112.836 242.0616 119.6868 M 2.2836 208.7472 C 93.6276 208.7472 184.9716 208.7472 276.3156 208.7472 C 287.7336 208.7472 253.4796 227.016 184.9716 227.016 C 154.5236 227.016 124.0756 227.016 93.6276 227.016 C 25.1196 227.016 -9.1344 208.7472 2.2836 208.7472 M 139 70 C 119 40 149 30 139 0 C 159 30 129 40 139 70 M 89 0 C 99 30 69 40 89 70 C 79 40 109 30 89 0 M 189 0 C 199 30 169 40 189 70 C 179 40 209 30 189 0');

	}
}

.bat {
	position: sticky;
	background-color: #000;
	width: 300px;
	height: 450px;

	top: calc(50vh - 150px);
	margin-top: -20px;
	margin-bottom: -30px;
	
	clip-path: var(--bat-path);

	animation: bat-animation .2s ease-in-out alternate infinite;
	z-index: 2;
}

@keyframes bat-animation {
	/* Brain */
	0% {
		clip-path: var(--bat-path);
		/*height: 400px;*/
		width: 300px;
	}
	
	100% {
		clip-path: var(--bat-path-2);
		/*height: 400px;*/
		width: 90px;

	}
}

.mary {
	position: sticky;
	background-color: #000;
	width: 300px;
	height: 300px;
	margin: 40px 0px;

	top: calc(50vh - 150px);
	
	
	/*clip-path: path('M 36.5376 90 L 242.0616 90 C 248.9124 90 253.4796 94.5672 253.4796 101.418 C 253.4796 147.09 207.8076 204.18 184.9716 204.18 C 162.1356 204.18 139.2996 204.18 93.6276 204.18 C 70.7916 204.18 25.1196 147.09 25.1196 101.418 C 25.1196 94.5672 29.6868 90 36.5376 90 M 242.0616 112.836 C 242.0616 112.836 264.8976 101.418 276.3156 101.418 C 294.5844 101.418 299.1516 117.4032 299.1516 124.254 C 299.1516 158.508 242.0616 192.762 207.8076 181.344 C 207.8076 179.0604 207.8076 176.7768 207.8076 174.4932 C 242.0616 185.9112 292.3008 153.9408 292.3008 124.254 C 292.3008 117.4032 287.7336 108.2688 276.3156 108.2688 C 264.8976 108.2688 255.7632 112.836 242.0616 119.6868 M 2.2836 208.7472 C 93.6276 208.7472 184.9716 208.7472 276.3156 208.7472 C 287.7336 208.7472 253.4796 227.016 184.9716 227.016 C 154.5236 227.016 124.0756 227.016 93.6276 227.016 C 25.1196 227.016 -9.1344 208.7472 2.2836 208.7472 M 139 70 C 149 40 119 30 139 0 C 129 30 159 40 139 70 M 89 0 C 69 30 99 40 89 70 C 109 40 79 30 89 0 M 189 0 C 169 30 199 40 189 70 C 209 40 179 30 189 0');*/
	
	clip-path: var(--apple-path);

  
	animation: mary-animation 1s linear infinite;
	animation-play-state: paused;
	animation-delay: calc(var(--scroll) * -1s);
  
	animation-iteration-count: 1;
	animation-fill-mode: both;
	z-index: 100;
}
  
@keyframes mary-animation {
	0% {
		background-color: #000;
	}
	85% {
		background-color: #000;
	}
	87% {
		background-color: #f00;
	}
	100% {
		background-color: #f00;

	}
}

.zombie {

}

.bat-container {
	position: sticky;

	display: flex;
	align-items: center;
	justify-content:center;
	flex-wrap: wrap;
	
	width: 50vw;
	min-height: 100vh;

}

.mary-container {
	position: sticky;

	display: flex;
	align-items: center;
	justify-content:center;
	flex-wrap: wrap;
	
	width: 50vw;
	width: 50vw;
	min-height: 100vh;
	min-height: 100%;
	top: 0;
	bottom: 0;
}

.zombie-container {
	position: sticky;

	display: flex;
	align-items: center;
	justify-content:center;
	flex-wrap: wrap;
	
	width: 50vw;
	margin: 0;
}

.bat-container-inner {
	position: sticky;

	display: flex;
	align-items: flex-start;
	justify-content:center;
	flex-wrap: wrap;
	
	width: 300px;
	min-height: 100vh;

}

.mary-container-inner {
	position: sticky;

	display: flex;
	align-items: flex-start;
	justify-content:center;
	flex-wrap: wrap;
	
	width: 50vw;
	min-height: 100vh;

	background-color: #fff;
}

.zombie-container-inner {
	position: sticky;

	display: flex;
	align-items: flex-start;
	justify-content:center;
	flex-wrap: wrap;
	
	width: 50vw;
	min-height: 100vh;
}

.purple-background {
	background-color: var(--color-c-1);
}

.blue-background {
	background-color: var(--color-d-1);
}

.green-background {
	background-color: var(--color-e-1);
}

.yellow-background {
	background-color: var(--color-f-1);
}

.red-background {
	background-color: var(--color-g-1);
}

.black-background {
	background-color: #000;
}

.white-background {
	background-color: #fff;
}

.test-animation-guy {
	position: sticky;
	/*top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;*/
	margin: 40px 0px;
	width: 300px;
	height: 300px;
  
	animation: rotate 1s linear infinite;
	animation-play-state: paused;
	animation-delay: calc(var(--scroll) * -1s);
  
	animation-iteration-count: 1;
	animation-fill-mode: both;
	z-index: 100;
}
  
@keyframes rotate {
	to {
	  transform: rotate(3600deg);
	}
}


@media (max-width: 500px) {
	/* … */
	.text-box {
		width: 100%;
		padding: 0px;
	}

	.svg-container {
		width: 100vw;
	}

	.mug-container-inner {
		max-height: 100vh;
	}
}